body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.genre-label{
  margin: 1em;
  display: inline-block;
}

.ellipsis{
     white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.ablum-cover{
  max-height: 14em;
}


